[buildout]                                                                      
develop = .
parts = interpreter test i18n
extends = http://gitweb.dolmen-project.org/misc.git?a=blob_plain;f=dolmen-kgs-0.3dev.cfg;hb=HEAD
versions = versions


[interpreter]
recipe = zc.recipe.egg
eggs = dolmen.authentication
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = dolmen.authentication [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '--package=dolmen.authentication']
